{% extends "base.html" %}

{% block content %}
    <div class="bg-white p-8 rounded-lg shadow-xl">
        <h1 class="text-4xl font-extrabold mb-6 text-gray-800">ℹ️ Про TechStore</h1>
        <p class="text-lg text-gray-700 mb-8 border-l-4 border-blue-500 pl-4 italic">
            TechStore був заснований у 2025 році нашою командою з місією надавати українським користувачам доступ до високоякісних та оригінальних комп'ютерних комплектуючих за конкурентними цінами.
        </p>

        <h2 class="text-3xl font-bold mb-4 text-gray-800">Наша місія</h2>
        <p class="text-gray-700 mb-8">
            Ми, команда TechStore, прагнемо, щоб кожен клієнт міг зібрати ідеальний ПК для своїх потреб — чи то для ігор, чи то для професійної роботи, пропонуючи лише перевірені бренди.
        </p>

        <h2 class="text-3xl font-bold mb-4 text-gray-800">Контакти</h2>
        <ul class="text-gray-700 space-y-2">
            <li><strong>Email:</strong> <span class="font-medium text-blue-600">ostapovecdanilo@gmail.com</span></li>
            <li><strong>Телефон:</strong> +38 (050) 706 10 64</li>
            <li><strong>Адреса:</strong> <strong>м. Луцьк, вул. Технологічна, 5</strong></li>
            </ul>
    </div>
{% endblock %}
