{% extends "base.html" %}

{% block content %}
<h2 class="title"><center>Про нас</center></h2>

<p class="text-block">
    Ласкаво просимо до TechStore — вашого надійного магазину комп’ютерних комплектуючих!
Ми працюємо на ринку понад 5 років і пропонуємо широкий вибір процесорів, відеокарт, материнських плат, оперативної пам’яті та іншої комп’ютерної техніки.

Наша команда складається з досвідчених професіоналів, які завжди готові допомогти обрати оптимальні комплектуючі саме для вашого ПК.

Ми цінуємо якість, чесність та комфорт наших клієнтів. У TechStore ви знайдете тільки перевірені товари за доступними цінами з гарантією та швидкою доставкою.

Долучайтесь до нашої спільноти, слідкуйте за новинками та будуйте свій ідеальний комп’ютер разом із нами!
</p>

{% endblock %}
