{% extends "base.html" %}

{% block content %}

<h2 class="title"><center>Наші товари</center></h2>
<br>
<br>

<div class="products">

    <div class="card">
        <img src="https://zhuk.ua/content/images/9/536x492l50nn0/videokarta-gigabyte-pci-ex-geforce-rtx-3060-gaming-oc-12gb-gddr6-192bit-15000-2-kh-hdmi-2-x-displayport-gv-n3060gaming-oc-12gd-70759177026071.jpg" alt="GPU">
        <h3>Відеокарта RTX 3060</h3>
        <p>12GB GDDR6 • 192-bit</p>
        <span class="price">12 500₴</span>
    </div>
	<br>
	<br>
    <div class="card">
        <img src="https://content.rozetka.com.ua/goods/images/big/246443682.jpg" alt="CPU">
        <h3>Intel Core i5-12400F</h3>
        <p>6 ядер • 12 потоків</p>
        <span class="price">7 900₴</span>  
</div>
	<br>
	<br>
    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCBU_ccrT8aatq-k_KwwRaeA4HODOc6IYorg&s" alt="RAM">
        <h3>DDR4 16GB 3200MHz</h3>
        <p>HyperX Fury</p>
        <span class="price">1 500₴</span>  
</div>
	<br>
	<br>
    <div class="card">
        <img src="https://dlcdnwebimgs.asus.com/gain/9291fee6-8b76-454a-9b19-eeb0a4400e19/w800" alt="MB">
        <h3>ASUS B560M</h3>
        <p>Socket LGA1200</p>
        <span class="price">4 300₴</span>
    </div>
	<br>
	<br>
</div>

{% endblock %}

